grant {
	permission java.net.SocketPermission
	"localhost:1099", "connect";
	permission java.net.SocketPermission
	"localhost:1024-65535", "accept,resolve";
};